<main class="main">

<h1 class="titlePag">CADASTRAR PRODUTO</h1>
<form action="/cadastrar" method="post">
<label>
    <p class="titleInput">Título:</p>
    <input class="inputText " type="text" name="titulo" placeholder="Digite o título do livro">
</label>
<label>
    <p class="titleInput">Categoria:</p>
    <input class="inputText " type="text" name="categoria" placeholder="Digite a categoria do livro">
</label>
<label>
    <p class="titleInput ">Descrição:</p>
    <input class="inputText descI" type="text" name="descricao" placeholder="Digite a descrição do livro">
</label>
<label for="" class="pd">
<label>
    <p class="titleInput">Preço:</p>
    <input class="inputText " type="number" name="preco" placeholder="Digite quanto o livro custa">
</label>
<label>
    <p class="titleInput">Disponibilidade:</p>
    <input class="inputText " type="number" name="disponibilidade" placeholder="Digite quantos livros tem disponíveis">
</label>

</label>
    <input type="submit" class="subbtn" value="Cadastrar">
</form>
</main>