<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Produtos</title>
</head>
<body>
  
  <div class="header">
    <div class="headItens">
    <a href="/produtos" class="titlePag">Livros</a>
    <a href="/" class="titlePag">Cadastro</a>
    </div>
  </div>
  <hr class="separacao">
  {{{body}}}
  <footer>
  <hr class="separacao">
    <h1 class="titlePag">Jennifer Melanie</h1>
  </footer>
</body>
</html>